@let rules = taxRules();
@let summary = taxSummary();

<div class="calculator">
  <h2 class="calculator__title">UK Tax Calculator</h2>

  <div class="calculator__input-section">
    <label class="calculator__label">
      Gross Annual Salary: (£)
      <input
        type="number"
        class="calculator__input"
        name="grossAnnualSalary"
        [(ngModel)]="grossAnnualSalary"
        min="0"
        placeholder="Enter annual salary"
      />
    </label>
    <label class="calculator__label calculator__label--select">
      Tax Rule Set:
      <select class="calculator__select" [(ngModel)]="taxRuleSetId">
        @if (rules) {
          @for (ruleSet of rules; track ruleSet.id) {
            <option [value]="ruleSet.id">{{ ruleSet.name }}</option>
          }
        } @else {
          <option [disabled]="true">Loading...</option>
        }
      </select>
    </label>
    @let salary = grossAnnualSalary();
    <button
      class="calculator__button"
      name="calculate"
      (click)="calculateTax()"
      [disabled]="salary === null || salary < 0 || summaryLoading()"
    >
      Calculate
    </button>
  </div>

  <!-- client errror -->
  @if (errorMessage()) {
    <div class="calculator__error">
      {{ errorMessage() }}
    </div>
  }

  @if (summaryLoading()) {
    <div class="calculator__loading">Calculating tax...</div>
  } @else if (summary) {
    <div class="calculator__results">
      <div class="calculator__result-row">
        <span class="calculator__result-label">Gross Annual Salary:</span>
        <span class="calculator__result-value"
          >£{{ formatCurrency(summary.grossAnnualSalary) }}</span
        >
      </div>

      <div class="calculator__result-row">
        <span class="calculator__result-label">Gross Monthly Salary:</span>
        <span class="calculator__result-value"
          >£{{ formatCurrency(summary.grossMonthlySalary) }}</span
        >
      </div>

      <div class="calculator__result-row">
        <span class="calculator__result-label">Net Annual Salary:</span>
        <span class="calculator__result-value"
          >£{{ formatCurrency(summary.netAnnualSalary) }}</span
        >
      </div>

      <div class="calculator__result-row">
        <span class="calculator__result-label">Net Monthly Salary:</span>
        <span class="calculator__result-value"
          >£{{ formatCurrency(summary.netMonthlySalary) }}</span
        >
      </div>

      <div class="calculator__result-row">
        <span class="calculator__result-label">Annual Tax Paid:</span>
        <span class="calculator__result-value"
          >£{{ formatCurrency(summary.annualTaxPaid) }}</span
        >
      </div>

      <div class="calculator__result-row">
        <span class="calculator__result-label">Monthly Tax Paid:</span>
        <span class="calculator__result-value"
          >£{{ formatCurrency(summary.monthlyTaxPaid) }}</span
        >
      </div>
    </div>
  }
</div>
